 <!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>XYZ</title>
	<link rel="shortcut icon" href="images/cabbage.ico">
 	<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>

   <style>
        body {
            margin: 0px;
        }

        .my-container {
            border: 0px;
            height: 100%;
            column-gap: 0px;
            align-self: center;
        }

        .my-row {
            border: 0px solid white;
            height: 100%;
        }

        .my-col {
            border: 3px dotted blue;
        }
    </style>

<!-- <nav>
	<div class="navbar">
		<a href="index.html">Home</a>
		<a href="about.html">About</a>
		<a href="stuff.html">Stuff</a>
		<a href="morestuff.html">MORE stuff</a>

	

</nav> -->
<body>
Some stuff






</div>
</body>
</html>